<a href="https://colab.research.google.com/github/jisu-h/DALC-Study-AI/blob/main/%EA%B4%80%EA%B4%91%EC%A7%80_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import urllib
import json

import pandas as pd
import requests

In [ ]:
your_appkey = 'r7trbpjt5rjc4p767trt67_po7jc75t_'
startDate = '201001'
endDate = '202107'

api_url = []

for i in range(1,8):
    number = i
    url = f'https://open.jejudatahub.net/api/proxy/bt11Daa5at1tat515DDtaa9D5aa99t11/{your_appkey}?startDate={startDate}&endDate={endDate}&number={number}&limit=100'
    api_url.append(url)
api_url

['https://open.jejudatahub.net/api/proxy/bt11Daa5at1tat515DDtaa9D5aa99t11/r7trbpjt5rjc4p767trt67_po7jc75t_?startDate=201001&endDate=202107&number=1&limit=100',
 'https://open.jejudatahub.net/api/proxy/bt11Daa5at1tat515DDtaa9D5aa99t11/r7trbpjt5rjc4p767trt67_po7jc75t_?startDate=201001&endDate=202107&number=2&limit=100',
 'https://open.jejudatahub.net/api/proxy/bt11Daa5at1tat515DDtaa9D5aa99t11/r7trbpjt5rjc4p767trt67_po7jc75t_?startDate=201001&endDate=202107&number=3&limit=100',
 'https://open.jejudatahub.net/api/proxy/bt11Daa5at1tat515DDtaa9D5aa99t11/r7trbpjt5rjc4p767trt67_po7jc75t_?startDate=201001&endDate=202107&number=4&limit=100',
 'https://open.jejudatahub.net/api/proxy/bt11Daa5at1tat515DDtaa9D5aa99t11/r7trbpjt5rjc4p767trt67_po7jc75t_?startDate=201001&endDate=202107&number=5&limit=100',
 'https://open.jejudatahub.net/api/proxy/bt11Daa5at1tat515DDtaa9D5aa99t11/r7trbpjt5rjc4p767trt67_po7jc75t_?startDate=201001&endDate=202107&number=6&limit=100',
 'https://open.jejudatahub.net/api/proxy/bt11Daa5at1tat515DDtaa9D5aa99t11/r7trbpjt5rjc4p767trt67_po7jc75t_?startDate=201001&endDate=202107&number=7&limit=100']

In [ ]:
weburl = urllib.request.urlopen(api_url[0])
data = json.loads(weburl.read())
len(data['data'])

100

In [ ]:
sight_df = pd.DataFrame()
sight_df_temp = pd.DataFrame()

In [ ]:
sight_df_temp = sight_df.append({"dtYearMonth":"",
                                "sightsName":"",
                                "payType":"",
                                "userCnt":""},
                               ignore_index = True)
sight_df

Empty DataFrame
Columns: []
Index: []

In [ ]:
sight_df_temp

  dtYearMonth payType sightsName userCnt
0

In [ ]:
idx = sight_df_temp.columns

for url in api_url :
    weburl = urllib.request.urlopen(url)
    data = json.loads(weburl.read())
    
    for n in range(0,len(data['data'])):
        for i in idx :
            sight_df_temp.iat[0,sight_df_temp.columns.get_loc(i)] = data["data"][n][i]
        
        sight_df = sight_df.append(sight_df_temp, ignore_index = True)

In [ ]:
sight_df

    dtYearMonth payType  sightsName userCnt
0        201805      유료       도립미술관    7958
1        201905      유료       도립미술관   12042
2        201801      유료      만장굴관광지   44972
3        201803      유료      만장굴관광지   44845
4        201808      유료      만장굴관광지  115456
..          ...     ...         ...     ...
607      201906      유료  한화아쿠아플라넷제주       0
608      201805      무료       제주추사관   11801
609      201809      무료       제주추사관    8032
610      201811      무료       제주추사관    8748
611      201906      무료       제주추사관       0

[612 rows x 4 columns]

In [ ]:
sight_df.to_csv("sight_df.csv",index = False)

In [ ]:
sight_df["sightsName"].unique()

array(['도립미술관', '만장굴관광지', '민속자연사박물관', '비자림', '절물자연휴양림', '제주도립 김창열미술관',
       '제주돌문화공원', '제주별빛누리공원', '해녀 박물관', '국립제주박물관', '삼양선사유적지', '제주항일기념관',
       '한라산국립공원', '항몽 유적지', '감귤박물관', '기당미술관', '마라해양도립공원', '박물관은살아있다',
       '산방산', '서귀포자연휴양림', '서복전시관', '성산일출봉', '이중섭미술관', '정방폭포',
       '중문대포해안주상절리대', '천제연폭포', '천지연폭포', '카멜리아힐', '퍼시픽랜드', '한화아쿠아플라넷제주',
       '제주추사관', '제주목관아지', '서귀포도립해양공원', '일출랜드'], dtype=object)

In [ ]:
len(sight_df["sightsName"].unique())

34